/* Especificidad: 001*/
body {
    font-family: Tahoma, sans-serif;
    color: black;
    background-color: white;
    font-size: 1em;
 }

/* Especificidad: 001*/
h1,h2,h3,h4 {
    color: #0000FF;
}
/* Especificidad: 001*/
section{
border-style: solid;
border-color: #0000FF;
padding: 1em;
margin: 0.5em;
width: fit-content;
}
/* Especificidad: 001*/
main{
    border-style: solid;
    border-color: #0000FF;
    height: 10em;
    width: 10em;
    padding: 1em;
    margin: 0.5em;

}

